services:
  postgresql:
    image: 'postgres:15.4-alpine'
    environment:
      - 'POSTGRES_DB=maindb'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=root'
    volumes:
      - pg_data:/var/lib/postgresql/data
  
  redis:
    image: 'redis:7.0.12-alpine'

  app:
   image: ghcr.io/wgola/spotit-app:main
   ports:
      - 443:8080
   depends_on: 
      - postgresql
      - redis
   env_file:
      - .env.prod 
   volumes:
      - ./ssl:/app/ssl

volumes:
  pg_data:
