name: "Test backend"

on:
  workflow_dispatch:
  push:
    branches:
      - "*"
    paths:
      - "backend/**"
      - ".github/**"

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: "./backend"

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v3

      - name: "Set up JDK 17"
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle
      
      - name: "Run tests"
        run: gradle test

      - name: "Generate JaCoCo badge"
        uses: cicirello/jacoco-badge-generator@v2.11.0
        with:
          jacoco-csv-file: backend/build/reports/jacoco/test/jacocoTestReport.csv
      
      - name: "Build"
        run: gradle build -x test
